*,*:after,*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --ColorNegro: #000000;
    --Colorblanco: #ffffff;
}
.container{
    width: 100vw;
    height: 100%;
    background-image: url(./Optio-58BW-ST-CGI-Black-Window-Kitchen-Interior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.sub_container1{
    background-color: #0000005e;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-------------------------------------------------------------------------------Lineas*/

.lineas.action_2{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 120;
}

.lineas{
    position: absolute;
    z-index: -10;
}
.lineas{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f3f2f2;
    overflow-y: scroll;
    font-family:Arial, Helvetica, sans-serif
}
.lineas span{
    width: 100%;
    font-size: 15px;
    color: #3d3d3d48;
    text-align: right;
    padding: 5px;
    cursor: pointer;
    position: fixed;
}
.lineas h2{
    width: 780px;
    height: 40px;
    font-size: 30px;
    text-align: left;
    color: var(--ColorNegro);
    margin-bottom: 20px;
    padding-left: 30px;
    padding-top: 15px;
}
.linea_1{
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: flex-end;
    margin: 15px 30px;
}
.linea_img{
    width: 190px;
    height: 190px;
    background-color: #2c583073;
    margin-top:5px;
    margin-left: 5px;
    border-radius: 10%;
}
.contactar{
    background-color: #a1a0a0;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    width: 120px;
    height: 25px;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    position: relative;
    margin-left: 5px;
}
.contactar:hover{
    background-color: #000000;
    color: #ffffff;
}
.linea_img.herrero{
    background-image: url(./Linea\ Herrero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.linea_img.modena{
    background-color: #cf661073;
}
.linea_img.modena2{
    background-color: #8f4a1173;
}
.linea_img.vespa{
    background-color: #8f111173;
}
.linea_img.a-30{
    background-color: #4c118f73;
}
.linea_img.a-40{
    background-color: #3f068173;
}
.linea_img.altezza{
    background-color: #8f118f73;
}
.linea_1 h4{
    width: 100%;
    padding: 5px 5px;
    text-align: left;
    color: #000000;
    font-weight: bold;
    text-decoration: underline; 
    font-size: 15PX;
}
.linea_1 p{
    height: 95px;
    font-size: small;
    padding: 0px 5px;
    color: #636262;
}

.menu_oculto{
    position: absolute;
    z-index: -10;
}
.sub_container1 img{
    position: relative;
    padding-top: 44px;
    width: 220px;
}
nav ul{
    display: flex;
    flex-direction: row;
    width: 950px;
    height: 40px;
    justify-content: space-between;
    margin: 30px 0;
}
nav ul.action{
    top: 0px;
    left: 0;
    z-index: 51;
}
ul li{
    display: flex;
    align-self: center;
    justify-content: center;
    list-style: none;
    width: 250px;
    height: 50px;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
    font-size: 32px;
    padding: 9px 0;
    color: var(--Colorblanco);
    font-family: Arial, Helvetica, sans-serif;   
    line-height: normal; 
    cursor: pointer;   
}
ul li:hover{
    background-color: var(--Colorblanco);
    color: var(--ColorNegro);
}
ul li:hover a{
    color: var(--ColorNegro);
}
.sub_container1 h2{
    color: var(--Colorblanco);
    font-size: 114px;
    line-height: 80PX;
    margin-top: 30PX;
    font-family: sans-serif;
    font-weight: 700;
}
.sub_container1 h1{
    color: var(--Colorblanco);
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;    
}
.sub_container1 span{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.sub_container2{
    background-color: #0000005e;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sub_container2 h3{
    width: 255px;
    height: 110px;
    border: 3px solid var(--Colorblanco);
    color: var(--Colorblanco);
    text-align: center;
    padding-top: 20px;
    margin: 30px;
}
.datos{
    margin-top: 50px;
    width: 550px;
    height: 210px;
    border: 3px solid var(--Colorblanco);
    color: var(--Colorblanco);
    display: flex;
    flex-direction: row;
}
.datos_1 h3{
    border: none;
    width: 250px;
    height: auto;
    margin: 0;
    padding-top: 25px;
}
.datos_1 p{
    width: 250px;
    margin-top: 30px;
    text-align: center;
}
.iconos{
    width: 250px;
    height: 40px;
    display:flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;    
}
.iconos a{
    font-size: 35px;
    color: var(--Colorblanco);
    text-decoration: none;
    margin: 0 10px;
}
.datos_2{
    text-align: center;
    align-self: center;
}
.datos_2 p{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.datos_2 .mail {
    color: var(--Colorblanco);
    text-decoration: none;
    padding: 20px auto;
    margin-bottom: 20px;
    width: 100%;    
}
footer{
    background-color: #0000005e;
    height: 40px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
footer p{
    padding-left: 20px;
    color: var(--Colorblanco);
    padding-top: 15px;
    font-size: 12px;
}

.iconos_2{
    width: 250px;
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: center;    
}
.iconos_2 a{
    font-size: 30px;
    color: var(--Colorblanco);
    text-decoration: none;
    margin: 0 10px;
}

@media (max-width: 950px){
    .container{
        background-image: url(./Optio-movil.jpg);
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        height: auto;
    }
    .lineas{
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: scroll;
    }
    span.salir_1{
        padding-right: 25px;
        padding-top: 50px;
        font-size: 25px;
    }
    .lineas h2{
        text-align: center;
        margin-top: 30px;
        padding: 0;
    }  
    .linea_1{
        width: 300px;
        height: 550px;
    }
    .linea_img{
        width: 290px;
        height: 290px;
    }
    .linea_1 h4{
        font-size: 28px;
        line-height: 14px;
    }
    .linea_1 p{
        font-size: 17px;
        height: auto;
    }
    .contactar{
        width: 170px;
        height: 35px;
        font-size: 18px;
        border-radius: 17.5px;
    }
    nav ul {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        opacity: 80%;
        top: -100vh;
        left: 0;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        font-size: 20px;  
        z-index: 50; 
        margin: 0;             
    } 
    .menu_items li {
        width: 100%;
        height: 80px;
        margin-top: 10px;
    } 
    .menu_items li a{
        width: 100%;
        height: 60px;
        color: var(--color-secundario);
        font-size: 30px;
        padding-top: 21px;        
    }
    .menu_items li:hover{
        background-color: var(--ColorNegro);
        color: var(--Colorblanco);
    }
    ul li:hover a{
        color: var(--Colorblanco);
    }
    .menu_oculto{
        position: absolute;
        padding: 15px;
        width: 100%;
        text-align: right;
        color: #ffffff;
        font-size: 35px;
        font-weight: lighter;
        z-index: 100;
    }
    .sub_container1{
        justify-content: center;
    }
    .sub_container2{
        justify-content: space-around;
        height: auto;
    }
    .datos{
        width: 90%;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .datos_1{
        flex-grow: 1;
    }
    .datos_1 h3{
        width: 100%;
        text-align: center;
    }
    .datos_1 p{
        width: 100%;
        text-align: center;
    }
    .iconos{
        width: 100%;
    }
    .datos_2{
        flex-grow: 1;
    }
    footer{
        background-color: #3d3d3d;
        height: 80px;
    }
    .iconos_2{
       margin-top: 20px;
       width: auto;
    }
    footer p{
        padding-top: 30px;
    }
    .sub_container1 h2{
        margin-top: 20px;
    }
    .sub_container1 h1{
        font-size: 24px;
    }
}
